.items-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: blue;

    img {
        margin: 20px;
    }

}

@media screen and (min-width: 599px) {
    .items-section {
        flex-direction: row;

        img {
            width: 300px;
        }

    }
}

@media screen and (max-width: 600px) {
    .items-section{ 
        img {
            width: 80vw;
        }
    }
}
